doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    title freeCodeCamp calculator challenge
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='stylesheet', href='css/app.css')
  body
    div.content
      div.header
        h1 calculator
      div.column
        div.showResult
        div.showResultPath

        div.xxx
          div.numberblock
            div.numberblockrow
              div#seven.number 7
              div#eight.number 8
              div#nine.number 9

            div.numberblockrow
              div#four.number 4
              div#five.number 5
              div#six.number 6

            div.numberblockrow
              div#one.number 1
              div#two.number 2
              div#three.number 3

            div.numberblockrow
              div#null.number 0
              div#comma.number .
              div#leer.number


          div.operatorblock
            div#divide.number /
            div#plus.number +
            div#reset.number c


          div.operatorblock
            div#multiply.number *
            div#minus.number -
            div#equal.number =

      div.footer
        i.fa.fa-copyright(aria-hidden="true") 
          span.ubuntu 2017 by Rudolf Vogel - An der Fleschermühle 14 - 87509 Immenstadt - rugead@gmail.com

  script(src='js/dist/bundle.js')
